:root {
    --yellow:#ECB365;
    --dblue: #041C32;
    --mblue: #04293A;
    --lblue: #064663;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding:0;
}

body {
    
    margin:0;
    margin-left:5px;
    padding:0;
}

main {
    /*problem med width. Width:33%; skaber "gutters" i højre side*/
    width:33%;
    overflow-y: hidden;
    position: relative;
    margin: 0;
    padding:0;
    
}

slider {
    position: relative;
    display:flex;
    width:300%/*calc(1920px *3)*/;
    margin:0;
    padding:0;
}

slider-controls {
    width:100%;
    display: flex; 
    position:fixed;
    z-index:10; 
    justify-content: space-between;
    top:50%;
    transform: translateY(-50%);
}

.text {
    z-index:2;
}
.yellow {
    color: var(--yellow);
}

.l-blue {
    background-color: var(--lblue);
}

.m-blue {
    background-color: var(--mblue);
}

.d-blue {
    background-color: var(--dblue);
}

.line {
    width:60px;
    height:60px;
    background-color: var(--mblue);
    border-radius: 200%;
    filter: blur(10px);
}