<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/styles.css')}}">
    <script src="https://kit.fontawesome.com/e2b431fb6d.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>
</head>

<body>
    <script async defer src="circles.js"></script>



    <main id="main" class="grid d-blue g-0 " style="z-index: -1;">

        <!--overflow issue due to padding. Current fix: overflow:hidden <div class="row g-0">-->
        <nav class="navbar">navbar</nav>
        <div style="height:100%" class="row g-0">

            <div style="height:100%;" class="col-2"></div>
            <div style="height:100%;" class="col-8">
                <div style="height:100vh;" class="row">
                    <div style="margin-top: 35%;" class="row hero-left">
                        <div style="line-height: 80%;" class="transition-text hero col-6 text fw-bold yellow">
                            <div class="fs-1">jeg hedder <span
                                    style="position: absolute;transform: rotate(-30deg);letter-spacing: 10px; ">e</span><span
                                    style="opacity: 0;letter-spacing: 10px;">e</span>mil</div>
                            <div style="margin-top: 30px;" class=" opacity-gradient yellow lead">Lorem, ipsum dolor sit
                                amet consectetur adipisicing elit. Incidunt asperiores, ex magni quibusdam nemo delectus
                                minima laudantium, perferendis modi reprehenderit illum aperiam similique laboriosam.
                                Minima molestiae odit error
                                assumenda animi.</div>
                        </div>
                    </div>
                </div>
                <!-- new rows begin here-->
                <div class="row" id="slider-parent">
                    <slider-controls>
                        <div id="left"><i class="fa-solid fa-angle-left"></i></div>
                        <div id="right"><i class="fa-solid fa-angle-right"></i></div>
                    </slider-controls>
                    <slider>

                        <slider-content id="carrier">
                            <div class="fs-1 text fw-bold yellow hero-left">Karriere</div>
                            <div class="timeline-dot-bar yellow">
                                <div id="helmuth" class="timeline-dot">
                                    <div>Køkken - Helmuth</div>
                                    <svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="var(--brown)" />
                                    </svg>
                                </div>
                                <div id="tian_fu"class="timeline-dot">
                                    <div >Tjener - Tian FU</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="black" />
                                    </svg>
                                </div>
                                <div class="timeline-dot" id="dbu">
                                    <div >Fodboldtræner -<br> DBU</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="white" />
                                    </svg>
                                </div>
                                <div class="timeline-dot" id="vb">
                                    <div >Fodboldtræner -<br> VB</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="var(--lblue)" />
                                    </svg>
                                </div>
                                <div class="timeline-dot" id="havemand">
                                    <div >Havemand</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="var(--mblue)" />
                                    </svg>
                                </div>
                                <div class="timeline-dot" id="blindes_jul">
                                    <div >Sælger - Blindes Jul</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="var(--red)" />
                                    </svg>
                                </div>

                            </div>
                            <div class="timeline-container">
                                <p class="fw-bold yellow year" style="grid-row-start:1;grid-row-end:1;">2019</p>
                                <svg class="grid-line" style="grid-row-start:1;grid-row-end:1;"></svg>

                                <p class="fw-bold yellow year" style="grid-row-start:2;grid-row-end:2;">2020</p>
                                <svg class="grid-line" style="grid-row-start:2;grid-row-end:2;"></svg>
                                <p class="fw-bold yellow year" style="grid-row-start:3;grid-row-end:3;">2021</p>
                                <svg class="grid-line" style="grid-row-start:3;grid-row-end:3;"></svg>
                                <p class="fw-bold yellow year" style="grid-row-start: 4;grid-row-end:4;">2022</p>
                                <svg class="grid-line" style="grid-row-start: 4;grid-row-end:4;"></svg>
                                <p class="fw-bold yellow year" style="grid-row-start:5;grid-row-end:5;">2023</p>
                                <svg class="grid-line" style="grid-row-start:5;grid-row-end:5;"></svg>

                                <svg id="main-branch" class="timeline"
                                    style="margin-top:-10px; padding-bottom:20px;background-color:var(--yellow);width:15px;grid-column-start:5;grid-column-end:6; grid-row-start:1;grid-row-end:6;">
                                    <circle cx="7" cy="-10" r="17" fill="var(--yellow)" />
                                </svg>
                                <svg class="timeline" id="helmuth"
                                    style="background-color:var(--brown);grid-column-start:2;grid-column-end:3; grid-row-start:2;grid-row-end:6;">
                                    <circle cx="4.5" cy="-6" r="10" fill="var(--brown)" />
                                </svg>
                                <svg class="timeline" id="blindes_jul"
                                    style="background-color:var(--red);grid-column-start:3;grid-column-end:4; grid-row-start:1;grid-row-end:4;">
                                    <circle cx="4.5" cy="-6" r="10" fill="var(--red)" />
                                </svg>
                                <svg class="timeline" id="havemand"
                                    style="background-color:var(--mblue);grid-column-start:4;grid-column-end:5; grid-row-start:1;grid-row-end:4;">
                                    <circle cx="4.5" cy="-6" r="10" fill="var(--mblue)" />
                                </svg>
                                <svg class="timeline" id="vb"
                                    style="background-color:var(--lblue);grid-column-start:6;grid-column-end:7; grid-row-start:2;grid-row-end:6;">
                                    <circle cx="4.5" cy="-6" r="10" fill="var(--lblue)" />
                                </svg>
                                <svg class="timeline" id="dbu"
                                    style="background-color:white;grid-column-start:7;grid-column-end:8; grid-row-start:2;grid-row-end:6;">
                                    <circle cx="4.5" cy="-6" r="10" fill="white" />
                                </svg>
                                <svg class="timeline" id="tian_fu"
                                    style="background-color:black;grid-column-start:8;grid-column-end:9; grid-row-start:4;grid-row-end:6;">
                                    <circle cx="4.5" cy="-6" r="10" fill="black" />
                                </svg>
                            </div>

                        </slider-content>
                        <slider-content id="skills">
                            <div class="fs-1 text fw-bold yellow hero-left">Skills</div>

                            <div class="yellow lead col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Vitae ab
                                iusto rerum sapiente adipisci officiis neque? Corporis, voluptas eum, debitis nobis
                                iusto, nemo
                                tempore ipsum molestias cumque obcaecati dolorem cum!</div>
                        </slider-content>
                    </slider>

                </div>
                <div class="row">

                </div>

            </div>
        </div>
    </main>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="slider.js"></script>
    <script src="hover.js"></script>
</body>

</html>