<!DOCTYPE html>
<html style="overflow-x: hidden;" class="d-blue">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ML Model Demo</title>
    <!-- Include the JavaScript code {{url_for('static', filename='styles/styles.css')}}-->
</head>

<body>
    <main style="height: auto;" class="grid d-blue g-0 ">
        <div style="height:100%; position: relative; z-index:2;" class="row g-0">
            <div style="height:100%;" class="col-2"></div>
            <div style="height:100%;" class="col-8">
                <div style="height:110;margin-top: 7%;" class="row">
                    <div>
                        <div style="margin-bottom: 10px;" class="fs-1 text fw-bold yellow hero-left">Velkommen til
                            titanic-overlevelses-modellen</div>
                        <div style="margin-bottom: 10%; color:var(--yellow); font-weight:bold;">Jeg har på baggrund af
                            <a
                                href="https://gist.github.com/fyyying/4aa5b471860321d7b47fd881898162b7#file-titanic_dataset-csv">dette</a>
                            datasæt lavet et neuralt netværk der kan beregne sandsynligheden for overlevelse på Titanic
                            ud fra 5 parametre. Modellen har nogle fejl der er typiske for neurale net, kan du
                            finde dem? <br>Modellen er lavet i tensorflow og kan downloades <a
                                href="https://github.com/eKondrup">her</a></div>
                    </div>
                    <div class="form-grid-container">
                        <form id="predict-form" class="form-grid">
                            <div class="smbox-desc">Indtast køn<br><input class="smbox" type="text" id="køn"
                                    placeholder="Køn"></div>
                            <div class="smbox-desc">Indtast alder<br><input class="smbox" type="text" id="alder"
                                    placeholder="Alder"></div>
                            <div class="smbox-desc">Indtast en klasse (1, 2 eller 3)<br><input class="smbox" type="text"
                                    id="klasse" placeholder="Klasse (1, 2 eller 3)"></div>
                            <div class="smbox-desc">Indtast hvor mange søskende du vil have med på rejsen<br><input
                                    class="smbox" type="text" id="nSøskende" placeholder="Antal søskende på rejsen">
                            </div>
                            <div class="smbox-desc">Indtast hvor mange børn eller forældre du vil have med på
                                rejsen<br><input class="smbox" type="text" id="nParch"
                                    placeholder="Antal forældre eller børn på rejsen"></div>
                            <button
                                style="background-color: var(--mblue);color:var(--yellow);border-width: 0;width:50%;border-radius: 5px; font-size: 1.1rem;font-weight: bold;"
                                type="submit">Predict</button>
                        </form>
                        <div style="color:var(--yellow);font-size: 1.4vw; font-weight: bold;height:min-content;grid-column-start: 2;"
                            class="">Modellen giver dig en score på... <span id="result"></span></div>
                        <div
                            style="grid-column-start: 3; color: var(--yellow);font-size: 1.4vw; font-weight: bold;height:min-content;grid-row-start: 1;justify-self: center;">
                            Overlevelses-meter</div>
                        <div class="p-meter-w">
                            <div class="p-meter-w-txt">Sikker</div>
                            <div class="p-meter-w-txt">Sandsynlig </div>
                            <div class="p-meter-w-txt">Mulig </div>
                            <div class="p-meter-w-txt">Usandsynlig </div>
                            <div class="p-meter-w-txt">Sikker død</div>
                            <div class="p-meter-container">

                                <div class="p-meter"></div>
                            </div>
                        </div>

                        <!--
                        <div style="grid-column-start: 3; color: var(--yellow);font-size: 1.5rem; font-weight: bold;height:min-content;grid-row-start: 1;">Prediction-meter</div>
                        <div class="prediction-meter-container">
                            <div class="prediction-meter"></div>
                            <div class="prediction-meter"></div>
                            <div class="prediction-meter"></div>
                            <div class="prediction-meter"></div>
                            <div class="prediction-meter"></div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
        </div>
    </main>
    <script src="/static/scripts/prediction.js">//{{url_for('static', filename='scripts/prediction.js')}}</script>
    <script src="/static/scripts/circles.js"></script>
</body>

</html>