<!DOCTYPE html>
<html class="d-blue" lang="en">

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <!--
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/styles.css')}}">
        -->
    <script src="https://kit.fontawesome.com/e2b431fb6d.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>
</head>

<body>
    <script async defer src="/static/scripts/circles.js"></script>
    <!--
    <script async defer src="{{url_for('static', filename='scripts/circles.js')}}"></script>
-->


    <main id="main" class="grid d-blue g-0 " style="z-index: -1;">

        <!--overflow issue due to padding. Current fix: overflow:hidden <div class="row g-0">-->
        <nav class="navbar">
            <a class="no-link" style="margin-left:auto;align-self:center;" href="/AImodel.html">
                <div class="navbar-content"
                    style="background-color:var(--yellow); border-radius:15px;color:var(--dblue); align-self:center; padding:10px;">
                    Prøv min AI-model!</div>
            </a>
        </nav>
        <div style="height:100%" class="row g-0">

            <div style="height:100%;" class="col-2"></div>
            <div style="height:100%;" class="col-8">
                <div style="height:100vh;" class="row">
                    <div style="margin-top: 35%;" class="row hero-left">
                        <div style="line-height: 80%;" class="transition-text hero col-6 text fw-bold yellow">
                            <div class="fs-1">jeg hedder <span
                                    style="position: absolute;transform: rotate(-30deg);letter-spacing: 10px; ">e</span><span
                                    style="opacity: 0;letter-spacing: 10px;">e</span>mil</div>
                            <div style="margin-top: 30px; line-height:18px;" class=" opacity-gradient yellow lead">Siden jeg var lille har jeg altid været intereseret i at prøve-  og lære nye ting. Jeg elsker at forbedre mig selv og mine færdigheder og jeg er altid klar på en udfordring</div>
                        </div>
                    </div>
                </div>
                <!-- new rows begin here-->
                <div class="row" id="slider-parent">
                    <slider-controls>
                        <div id="left"><i class="fa-solid fa-angle-left"></i></div>
                        <div id="right"><i class="fa-solid fa-angle-right"></i></div>
                    </slider-controls>
                    <slider>

                        <slider-content id="carrier">
                            <div class="fs-1 text fw-bold yellow hero-left">Karriere</div>
                            <div class="timeline-dot-bar yellow">
                                <div id="helmuth" class="timeline-dot">
                                    <div>Køkken - Helmuth</div>
                                    <svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="var(--brown)" />
                                    </svg>
                                </div>
                                <div id="tian_fu" class="timeline-dot">
                                    <div>Tjener - Tian FU</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="black" />
                                    </svg>
                                </div>
                                <div class="timeline-dot" id="dbu">
                                    <div>Fodboldtræner -<br> DBU</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="white" />
                                    </svg>
                                </div>
                                <div class="timeline-dot" id="vb">
                                    <div>Fodboldtræner -<br> VB</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="var(--lblue)" />
                                    </svg>
                                </div>
                                <div class="timeline-dot" id="havemand">
                                    <div>Havemand</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="var(--mblue)" />
                                    </svg>
                                </div>
                                <div class="timeline-dot" id="blindes_jul">
                                    <div>Sælger - Blindes Jul</div><svg class="dot">
                                        <circle cx="10" cy="10" r="10" fill="var(--red)" />
                                    </svg>
                                </div>

                            </div>
                            <div class="timeline-container">
                                <p class="fw-bold yellow year" style="grid-row-start:1;grid-row-end:1;">2019</p>
                                <svg class="grid-line" style="grid-row-start:1;grid-row-end:1;"></svg>

                                <p class="fw-bold yellow year" style="grid-row-start:2;grid-row-end:2;">2020</p>
                                <svg class="grid-line" style="grid-row-start:2;grid-row-end:2;"></svg>
                                <p class="fw-bold yellow year" style="grid-row-start:3;grid-row-end:3;">2021</p>
                                <svg class="grid-line" style="grid-row-start:3;grid-row-end:3;"></svg>
                                <p class="fw-bold yellow year" style="grid-row-start: 4;grid-row-end:4;">2022</p>
                                <svg class="grid-line" style="grid-row-start: 4;grid-row-end:4;"></svg>
                                <p class="fw-bold yellow year" style="grid-row-start:5;grid-row-end:5;">2023</p>
                                <svg class="grid-line" style="grid-row-start:5;grid-row-end:5;"></svg>

                                <svg id="main-branch" class="timeline"
                                    style="margin-top:-10px; padding-bottom:20px;background-color:var(--yellow);width:15px;grid-column-start:5;grid-column-end:6; grid-row-start:1;grid-row-end:6;">
                                    <circle cx="7" cy="-10" r="17" fill="var(--yellow)" />
                                </svg>
                                <svg class="timeline" id="helmuth"
                                    style="background-color:var(--brown);grid-column-start:2;grid-column-end:3; grid-row-start:2;grid-row-end:6;">
                                    <circle cx="4.5" cy="-6" r="10" fill="var(--brown)" />
                                </svg>
                                <svg class="timeline" id="blindes_jul"
                                    style="background-color:var(--red);grid-column-start:3;grid-column-end:4; grid-row-start:1;grid-row-end:4;">
                                    <circle cx="4.5" cy="-6" r="10" fill="var(--red)" />
                                </svg>
                                <svg class="timeline" id="havemand"
                                    style="background-color:var(--mblue);grid-column-start:4;grid-column-end:5; grid-row-start:1;grid-row-end:4;">
                                    <circle cx="4.5" cy="-6" r="10" fill="var(--mblue)" />
                                </svg>
                                <svg class="timeline" id="vb"
                                    style="background-color:var(--lblue);grid-column-start:6;grid-column-end:7; grid-row-start:2;grid-row-end:6;">
                                    <circle cx="4.5" cy="-6" r="10" fill="var(--lblue)" />
                                </svg>
                                <svg class="timeline" id="dbu"
                                    style="background-color:white;grid-column-start:7;grid-column-end:8; grid-row-start:2;grid-row-end:6;">
                                    <circle cx="4.5" cy="-6" r="10" fill="white" />
                                </svg>
                                <svg class="timeline" id="tian_fu"
                                    style="background-color:black;grid-column-start:8;grid-column-end:9; grid-row-start:4;grid-row-end:6;">
                                    <circle cx="4.5" cy="-6" r="10" fill="black" />
                                </svg>
                            </div>

                        </slider-content>
                        <slider-content id="skills">
                            <div class="fs-1 text fw-bold yellow hero-left">Skills</div>

                            <div class="skills-container">
                                <div class="skills-key">
                                    <div class="skills-key-txt yellow">Problemløsning</div>
                                    <div class="skills-key-txt yellow">Python</div>
                                    <div class="skills-key-txt yellow">Javascript</div>
                                    <div class="skills-key-txt yellow">Linux</div>
                                </div>
                                <div class="skills-meter-container">
                                    <div id="problemløsning" class="skills-meter"></div>
                                    <div id="python" class="skills-meter"></div>
                                    <div id="javascript" class="skills-meter"></div>
                                    <div id="linux" class="skills-meter"></div>
                                </div>
                                <div class="skills-value-container">
                                    <div id="sproblemløsning" class="skills-value"></div>
                                    <div id="spython" class="skills-value"></div>
                                    <div id="sjavascript" class="skills-value"></div>
                                    <div id="slinux" class="skills-value"></div>
                                </div>
                            </div>
                            <div class="yellow lead"></div>
                        </slider-content>
                    </slider>

                </div>
                <div class="row">

                </div>

            </div>
        </div>
    </main>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <!--
    <script src="{{url_for('static', filename='scripts/slider.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/hover.js')}}"></script>
        -->
    <script src="/static/scripts/slider.js"></script>
    <script src="/static/scripts/hover.js"></script>
    <script src="/static/scripts/skills.js"></script>
</body>

</html>